body{
    /* background-color: steelbleu; */

    color:midnightblue;
}
   
div{
    background-color: green;
    color:purple;
    width: 400px;
    height: 200px;
    position: absolute;top: 100px;
    position: absolute;left: 100px;
}